<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">

    <title>JLOTTO</title>

    <link href="/stylesheets/dashboard/bootstrap.min.css" rel="stylesheet">    
    <link href="/stylesheets/dashboard/blue.css" id="theme" rel="stylesheet">    
    <link href="/stylesheets/dashboard/style.css" rel="stylesheet">

    <link href="/stylesheets/dashboard/icons/font-awesome.min.css" id="theme" rel="stylesheet">
    <link href="/stylesheets/custom.css" id="theme" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar card-no-border">

    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>

    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">

                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <img src="/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        <span>
                            <img src="/images/logo-light-text.png" class="light-logo" alt="homepage" />
                        </span> 
                    </a>
                </div>                
            </nav>
        </header>


        <!-- ============================================================== -->
        <!-- Left Sidebar - Desktop  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href="#total_sum_chart" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">합계</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="#except_chart" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">최근 10회 번호 수</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="#low_high_chart" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Low & High</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="#odd_even_chart" aria-expanded="false"><i class="mdi mdi-emoticon"></i><span class="hide-menu">홀수 / 짝수</span></a>
                        </li>
                    </ul>
                    <div class="text-center m-t-30">
                        <a href="https://wrappixel.com/templates/materialpro/" class="btn waves-effect waves-light btn-warning hidden-md-down"> Upgrade to Pro</a>
                    </div>
                </nav>
            </div>
        </aside>


        <div class="page-wrapper">
            <div class="container-fluid">

                <!-- ============================================================== -->
                <!-- JLotto Charts  ( SUM / EXCEPTION / LOW & HIGH / ODD & EVEN ) -->
                <!-- ============================================================== -->
                <section id="total_sum_chart" class="col-lg-12 col-md-12 lotto-section">
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex flex-wrap">
                                        <div>
                                            <h3 class="card-title">합계 차트</h3>
                                            <h6 class="card-subtitle">번호의 합이 전체 몇 번 나왔는지 알려주는 차트</h6> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <canvas id="sum-chart" class="lotto-chart sum-chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="except_chart" class="col-lg-12 col-md-12 lotto-section">
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex flex-wrap">
                                        <div>
                                            <h3 class="card-title">최근 10회 나온 수</h3>
                                            <h6 class="card-subtitle">빨간색 차트는 최근 10회동안 나오지 않은 수</h6> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <canvas id="remain-chart" class="lotto-chart remain-chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="low_high_chart" class="col-lg-12 col-md-12 lotto-section">
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex flex-wrap">
                                        <div>
                                            <h3 class="card-title">낮은 수 / 높은 수 비율</h3>
                                            <h6 class="card-subtitle">최근 10회 낮은 수/높은 수, (22 보다 낮으면 low, 높으면 high)</h6> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <canvas id="low-high-chart" class="lotto-chart low-high-chart"></canvas>    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                    
                <section id="odd_even_chart" class="col-lg-12 col-md-12 lotto-section">
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex flex-wrap">
                                        <div>
                                            <h3 class="card-title">홀수 / 짝수</h3>
                                            <h6 class="card-subtitle">최근 10회 홀수/짝수 비율</h6> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <canvas id="odd-even-chart" class="lotto-chart odd-even-chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>                        
                    
                    

                
                <!-- ============================================================== -->
                <!-- Table  -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Basic Table</h4>
                                <h6 class="card-subtitle">Add class <code>.table</code></h6>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Username</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Deshmukh</td>
                                                <td>Prohaska</td>
                                                <td>@Genelia</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Deshmukh</td>
                                                <td>Gaylord</td>
                                                <td>@Ritesh</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Sanghani</td>
                                                <td>Gusikowski</td>
                                                <td>@Govinda</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Roshan</td>
                                                <td>Rogahn</td>
                                                <td>@Hritik</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Joshi</td>
                                                <td>Hickle</td>
                                                <td>@Maruti</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Nigam</td>
                                                <td>Eichmann</td>
                                                <td>@Sonu</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                © 2017 Material Pro Admin by wrappixel.com & 2018 JLotto
            </footer>
        </div>
    </div>
    
    <script src="/javascripts/dashboard/jquery.min.js"></script>
    <script src="/javascripts/dashboard/tether.min.js"></script>
    <script src="/javascripts/dashboard/bootstrap.min.js"></script>
    <script src="/javascripts/dashboard/jquery.slimscroll.js"></script>
    <script src="/javascripts/dashboard/waves.js"></script>
    <script src="/javascripts/dashboard/sidebarmenu.js"></script>
    <script src="/javascripts/dashboard/sticky-kit.min.js"></script>    
    <script src="/javascripts/dashboard/custom.min.js"></script>

    <script src="/javascripts/Chart.bundle.min.js"></script>
    <script src="/javascripts/chart/sum.js"></script>
    <script src="/javascripts/chart/remain.js"></script>    
    <script src="/javascripts/chart/lowhigh.js"></script>
    <script src="/javascripts/chart/oddeven.js"></script>
</body>

</html>
