<!DOCTYPE html>
<html>
  <head>
    <title>JLotto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <canvas id="sum-chart" class="lotto-chart sum-chart"></canvas>
    <canvas id="remain-chart" class="lotto-chart remain-chart"></canvas>
    <canvas id="low-high-chart" class="lotto-chart low-high-chart"></canvas>
    <canvas id="odd-even-chart" class="lotto-chart odd-even-chart"></canvas>
    

    <script src="/javascripts/jquery-3.3.1.min.js"></script>    
    <script src="/javascripts/Chart.bundle.min.js"></script>
    <script src="/javascripts/chart/lowhigh.js"></script>
    <script src="/javascripts/chart/oddeven.js"></script>
    <script src="/javascripts/chart/sum.js"></script>
    <script src="/javascripts/chart/remain.js"></script>
    <!-- <script src="/javascripts/chart/total.js"></script> -->

    <!-- <script src="/javascripts/lotto/recommend.js"></script> -->
    <!-- <script src="/javascripts/crawl/lotto_crawler.js"></script> -->
  </body>
</html>