<!DOCTYPE html>
<html>
  <head>
    <title>JLotto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <canvas id="bar-chart" class="lotto-chart bar-chart"></canvas>
    <canvas id="line-chart" class="lotto-chart line-chart"></canvas>
    <canvas id="mixed-chart" class="lotto-chart mixed-chart"></canvas>

    <script src="/javascripts/jquery-3.3.1.min.js"></script>    
    <script src="/javascripts/Chart.bundle.min.js"></script>
    <script src="/javascripts/LineChart.js"></script>
    <script src="/javascripts/BarChart.js"></script>
    <script src="/javascripts/MixedChart.js"></script>
  </body>
</html>
