<!DOCTYPE html>
<html>
  <head>
    <title>JLotto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <canvas id="sum-chart" class="lotto-chart sum-chart"></canvas>
    <canvas id="low-high-chart" class="lotto-chart low-high-chart"></canvas>
    <canvas id="odd-even-chart" class="lotto-chart odd-even-chart"></canvas>
    <canvas id="total-chart" class="lotto-chart total-chart"></canvas>

    <script src="/javascripts/jquery-3.3.1.min.js"></script>    
    <script src="/javascripts/Chart.bundle.min.js"></script>
    <script src="/javascripts/low_high_chart.js"></script>
    <script src="/javascripts/odd_even_chart.js"></script>
    <script src="/javascripts/sum_chart.js"></script>
    <!-- <script src="/javascripts/total_chart.js"></script> -->
  </body>
</html>
