.page-wrapper {
    padding-top: 30px;
    margin: 0px !important;
}

.container-fluid {
    width: 1560px;
}

.container-fluid section {
    padding: 0px;
}

.two-layer-left,
.two-layer-right {
    display: inline-block;
    width: 49.5%;
}
 
.two-layer-right {
    float: right;
}

.jlotto-header {
    font-weight: bold;
    color: #fff;
    font-size: 24px;
}

.winner-container {
    text-align: center;
}

.winner-container .card-block {
    font-size: 12px;
    padding: 0px;
}

.winner-container .card-block table {
    width: 100%;
    text-align: center;
}

.winner-container table tr td {
    padding: 0px;   
    color: rgb(222, 103, 101);    
    font-weight: bold;
}

.winner-container table tr td span {
    max-width: 18px;
}

.winner-container .card-num .active {
    background: #000;
    color: #000;
    padding: 6px 8px;
}

.winners-card {
    width: 240px;
    height: 450px;
    display: inline-block;
    justify-content: space-between;
    border-color: rgb(222, 103, 101) !important;
    margin: 10px 5px;
}

.winners-card .card-header {
    font-weight: bold;
    font-size: 24px;
}

#winner {
    display: flex;
    justify-content: space-between;
}

.winner-nums .card-title {
    margin: 30px 0px 10px 7px;
    font-weight: bold;
    font-size: 24px;
}

.card-title,
.card-subtitle {
    font-weight: bold;
}

table thead th,
table tbody tr {
    text-align: center;
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.top-navbar .btn {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.select-container .blobselect {
    width: 170px;
}

.select-container {
    display: flex;
    float: left;
    align-items: flex-end;
}

.select-section {
    margin-right: 50px;
}

.select-container .blobselect-item {
    text-align: center;
}

.select-container #btn-recommend {
    max-height: 50px;
    margin-bottom: 2px;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
}

.loading-bar {
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
}
  
.loading-bar:nth-child(1) {
    background-color: #3498db;
    animation-delay: 0;
}

.loading-bar:nth-child(2) {
    background-color: #c0392b;
    animation-delay: 0.09s;
}

.loading-bar:nth-child(3) {
    background-color: #f1c40f;
    animation-delay: .18s;
}
  
.loading-bar:nth-child(4) {
    background-color: #27ae60;
    animation-delay: .27s;
}

@keyframes loading {
    0% { transform: scale(1); }
    20% { transform: scale(1, 2.2); }
    40% { transform: scale(1); }
}

.loading { 
    display: none;
}
  